<form id="<%= formID %>">
    <label for="<%= ID %>"><%= input1_label %></label>
    <input name="<%= ID %>" id="<%= ID %>" type="text" placeholder="<%= input1_placeholder %>">
    <label for="<%= PW %>"><%= input2_label %></label>
    <input name="<%= PW %>" id="<%= PW %>" type="text" placeholder="<%= input2_placeholder %>">
    <button type="submit" class="submit"><%= submit %></button>
</form>